{% extends "base_generic.html" %} {% block content %} {% load socialaccount %}
<h2>Login</h2>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <div>
    <label for="remember_me">Remember Me</label>
    <input type="checkbox" name="remember_me" id="remember_me" />
  </div>
  <button  class="btn btn-primary" type="submit">Login</button>
</form>

<!-- Forgot Password Link -->
<p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>

<!-- Facebook Login Button -->
<a href="{% provider_login_url 'facebook' %}" class="btn btn-primary facebook-login-btn">
  <i class="fab fa-facebook-f"></i> Login with Facebook
</a>
{% endblock %}
