{% extends "base_generic.html" %} {% block content %}
<div class="container">
  <h2>My Bookings</h2>

  {% if bookings %} {% for booking in bookings %}
  <li>
    Booking ID: {{ booking.id }}<br />
    Room: {{ booking.room.name }}<br />
    Check-in: {{ booking.check_in_date }}<br />
    Check-out: {{ booking.check_out_date }}<br />
    Total Cost: €{{ booking.total_cost }}<br />
    <a
      href="{% url 'hotel_booking:update_booking' booking.id %}"
      class="btn btn-info"
      >Update Booking</a
    >
    <a
      href="{% url 'hotel_booking:delete_booking' booking.id %}"
      class="btn btn-danger"
      onclick="return confirm('Are you sure you want to delete this booking?')"
      >Delete Booking</a
    >
  </li>
  {% endfor %}
</div>
{% endblock %}
