{% extends 'base_generic.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Welcome to Savanna Hotel</h1>
    <p class="lead">Feel Free To See What We Have For You..</p>

    <div class="row">
        {% for room in rooms %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <!-- Room image -->
                <img src="{{ room.image.url }}" alt="{{ room.name }}" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">{{ room.name }}</h5>
                    <p class="card-text">{{ room.description|truncatewords:15 }}</p>
                    <p class="text-success"><strong>${{ room.price }}</strong> per night</p>
                    <!-- Buttons to view details or book -->
                    <a href="{% url 'hotel_booking:book_room' room.id %}" class="btn btn-primary">Book Now</a>
                    <a href="{% url 'hotel_booking:room_details' room.id %}" class="btn btn-info mt-2">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}