/*Font Styles*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Playfair', sans-serif;
    line-height: 1.6;
    background-image: url('/static/images/wallpaper1.jpg');  /* Set the background image */
    color: #333;
}


/* Header styles */
header {
    background-color: #00796b; /* A nice greenish color */
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 3em;
}

/* Navbar Styles */
nav {
    display: flex;
    justify-content: center;
    background-color: #004d40;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 1.1em;
}

nav a:hover {
    color: #ffb74d; /* Hover effect */
}